
OSMConnectivity/obj/Debug/OSMConnectivity.pdb
OSMConnectivity/obj/Debug/OSMConnectivity.dll
OSMConnectivity/obj/Debug/OSMConnectivity.csprojAssemblyReference.cache
OSMConnectivity/obj/Debug/OSMConnectivity.csproj.FileListAbsolute.txt
OSMConnectivity/obj/Debug/OSMConnectivity.csproj.CoreCompileInputs.cache
OSMConnectivity/bin/OSMConnectivity.pdb
OSMConnectivity/bin/OSMConnectivity.dll
.vs/OSMConnectivity/xs/UserPrefs.xml
.vs/OSMConnectivity/xs/project-cache/OSMConnectivity-Debug.json
OSMConnectivity/obj/Debug/OSMConnectivity.pdb
OSMConnectivity/obj/Debug/OSMConnectivity.dll
OSMConnectivity/obj/Debug/OSMConnectivity.csprojAssemblyReference.cache
OSMConnectivity/obj/Debug/OSMConnectivity.csproj.FileListAbsolute.txt
OSMConnectivity/bin/OSMConnectivity.pdb
OSMConnectivity/bin/OSMConnectivity.dll
